{% extends "main/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center mb-4">Password reset complete</h1>
                    <p class="text-center mb-4">Your password has been successfully reset.</p>
                    <div class="text-center">
                        <a href="{% url 'main.login' %}" class="btn btn-primary">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}