.clickable-cell {
    cursor: pointer;
    text-align: center;
}

.clickable-cell.win {
    background-color: #d4edda;
    /* Green */
}

.clickable-cell.loss {
    background-color: #f8d7da;
    /* Red */
}