{% extends 'app_template/base.html' %}

{% block content %}
<div class="container mt-5 text-center">
    <h1>The History Of Elo Scores In the NFL</h1>

    <form id="teamForm" class="form-inline justify-content-center mb-3" method="get"
        action="{% url 'app_template.historical_data' %}">
        <select id="teamSelect" name="team_abbreviation" class="form-control mr-2" onchange="this.form.submit()">
            <option value="">Change Team</option>
            {% for team in nfl_teams %}
            <option value="{{ team.abbreviation }}" style="color: {{ team.color_hex }};" {% if selected_team and team.abbreviation == selected_team.abbreviation %} selected {% endif %}>
                {{ team.name }}
            </option>
            {% endfor %}
        </select>
    </form>

    <h2>{{ selected_team.name }}</h2>
    {% if selected_team %}
        <div id="container" style="width:100%; height:400px;"></div>
    {% else %}
        <p>Please select a team to view historical games.</p>
    {% endif %}
</div>

{% if historical_games %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const gamesData = JSON.parse('{{ historical_games|escapejs }}');

        console.log('Games Data:', gamesData);  // Debug: Log the games data

        Highcharts.chart('container', {
            chart: {
                type: 'line',
                zoomType: 'x'
            },
            title: {
                text: 'Elo Scores Over Time'
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Game Date'
                },
                categories: gamesData.map(game => game[5]),
            },
            yAxis: {
                title: {
                    text: 'Elo Score'
                }
            },
            tooltip: {
                formatter: function () {
                    var game = gamesData[this.point.index];
                    var result = game[7] ? (game[7] > game[8] ? "W" : (game[7] == game[8] ? "T" : "L")) : "";
                    var setting = game[9] ? " vs. " : " @";
                    return "<b>Elo Rating:</b> " + Math.round(game[1]) + "<br>" + result + " " + game[7]
                        + "-" + game[8] + setting + game[4] + " | " + new Date(game[0]).toISOString().slice(0, 10) + "<br>"
                        + "<b>Win Prob: </b>" + parseFloat(game[10] * 100).toFixed(1) + "%";
                }
            },
            series: [{
                data: gamesData.map(game => game[1]),  // Accessing elo1_post from each game
                name: 'Elo Score',
                color: '{{ selected_team.color_hex }}',
                lineWidth: 3,
                marker: {
                    lineColor: '{{ selected_team.color_hex }}',
                    fillColor: '{{ selected_team.color_hex }}',
                    radius: 4
                },
            }],
            credits: {
                enabled: false
            }
        });
    });
</script>
{% endif %}
{% endblock %}