{% extends 'app_template/base.html' %}

{% block content %}
<div class="container mt-5 text-center">
    <h1>The History Of Elo Scores In the NFL</h1>

    <form id="teamForm" class="form-inline justify-content-center mb-3" method="get"
        action="{% url 'app_template.historical_data' %}">
        <select id="teamSelect" name="team_abbreviation" class="form-control mr-2" onchange="this.form.submit()">
            <option value="">Change Team</option>
            {% for team in nfl_teams %}
                <option value="{{ team.abbreviation }}" style="color: {{ team.color_hex }};" {% if selected_team and team.abbreviation == selected_team.abbreviation %} selected {% endif %}>
                    {{ team.team_name }}
                </option>
            {% endfor %}
        </select>
    </form>

    <h2>Selected Team:
        {% if selected_team %}
            {% if selected_team.historical_games.count > 0 %}
                <ul>
                    {% for game in selected_team.historical_games.all %}
                    <li>Date: {{ game.date }}, Elo Score: {{ game.elo1_post }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                No historical games found for this team.
            {% endif %}
        {% else %}
            null
        {% endif %}

    <div id="container" style="width:100%; height:400px;"></div>
</div>

{% endblock %}