{% extends 'app_template/base.html' %}

{% block content %}
<div class="container mt-5 text-center">
    <h1>The History Of Elo Scores In the NFL</h1>

    <form id="teamForm" class="form-inline justify-content-center mb-3" method="get"
        action="{% url 'app_template.historical_data' %}">
        <select id="teamSelect" name="team_abbreviation" class="form-control mr-2" onchange="this.form.submit()">
            <option value="">Change Team</option>
            {% for team in nfl_teams %}
            <option value="{{ team.abbreviation }}" style="color: {{ team.color_hex }};" {% if selected_team and team.abbreviation == selected_team.abbreviation %} selected {% endif %}>
                {{ team.name }}
            </option>
            {% endfor %}
        </select>
    </form>

    <h2>{{ selected_team.name }}</h2>
    {% if selected_team %}
    <div id="container" style="width:100%; height:400px;"></div>
    {% else %}
    <p>Please select a team to view historical games.</p>
    {% endif %}
</div>

{% if historical_games %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const gamesData = JSON.parse('{{ historical_games|escapejs }}');

        console.log('Games Data:', gamesData);  // Debug: Log the games data

        Highcharts.chart('container', {
            chart: {
                type: 'line',
                zoomType: 'x'
            },
            title: {
                text: 'Elo Scores Over Time'
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Game Date'
                },
                categories: gamesData.map(game => game.season),
            },
            yAxis: {
                title: {
                    text: 'Elo Score'
                }
            },
            tooltip: {
                formatter: function () {
                    var game = gamesData[this.point.index];
                    var playoffInfo = "";
                    if (game.playoff === null) {
                        playoffInfo = "Regular Season"
                    } else if (game.playoff === 'w') {
                        playoffInfo = "WildCard";
                    } else if (game.playoff === 'd') {
                        playoffInfo = "Divisional";
                    } else if (game.playoff === 'c') {
                        playoffInfo = "Conference Championship";
                    } else if (game.playoff === 's') {
                        playoffInfo = "Super Bowl";
                    }
                    return playoffInfo + "<br>" +
                        "<b>Elo Rating:</b> " + Math.round(game.elo_post) + "<br>" +
                        "<b>Result: </b>" + game.team1 + ": " + game.score1 + " -- " + game.team2 + ": " + game.score2 + "<br>" +
                        "<b>Date: </b>" + new Date(game.date).toISOString().slice(0, 10) + "<br>" +
                        "<b>Win Prob: </b>" + parseFloat(game.elo_prob1 * 100).toFixed(1) + "%";
                }

            },
            series: [{
                data: gamesData.map(game => game.elo_post),
                name: 'Elo Score',
                color: '{{ selected_team.color_hex }}',
                lineWidth: 3,
                marker: {
                    lineColor: '{{ selected_team.color_hex }}',
                    fillColor: '{{ selected_team.color_hex }}',
                    radius: 4
                },
            }],
            credits: {
                enabled: false
            }
        });
    });
</script>
{% endif %}
{% endblock %}