{% extends "app_template/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center mb-4">Reset Sent</h1>

                    <p class="text-center mb-4">
                        We've sent you an email with instructions on how to reset your password.
                    </p>

                    <p class="text-center">
                        <a href="{% url 'app_template.login' %}" class="btn btn-primary">Back to Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}